In [43]:
import csv

with open('hits.txt', 'r') as in_file:
    stripped = (line.strip() for line in in_file)
    lines = (line.split() for line in stripped if line)
    with open('hits.csv', 'w') as out_file:
        writer = csv.writer(out_file)
        writer.writerow(('host', 'ip', 'ref_tail'))
        writer.writerows(lines)

In [44]:
import pandas as pd

In [45]:
df = pd.read_csv('hits.csv')

In [46]:
df.head()

,host,ip,ref_tail
0,https://wikipedia.org,72.110.191.15,/friends/files
1,rambler.ru,142.93.168.247,/universe.php
2,ftp://info.itar-tass.com,90.68.118.69,/login/monitors/static/me
3,http://altavista.com,18.79.197.236,/friends/tasks/universe
4,ftp://tetrika-school.ru,115.26.250.226,/translate/anekdots/my-files/monday

In [47]:
df.groupby(['ip'])['ip'].count().reset_index(name='count').sort_values(by = ['count'], ascending = False).head()

                   ip  count
512   154.157.157.156    258
16     101.255.10.103    258
1513    36.79.145.227    248
1309  240.124.194.168    237
45      105.29.181.43    236